extends layout

block body
    body.index
    
block header
    include partials/header
            
block content
            
    //ficha
    .section-row.row-inner.row-rnpq(data-midnight="white")
        
        .container
                      
                img(src="../images/inner/im_Boletas.png")
                      
                h2 Boletas
                
    .section-row.row-inner.inner-common
        .container
            .row
                .col-xs-12
                
                h3 Descarga de boleta FPT <br>y canon C.N.R.T.
                
                figure

                    img(src="../images/dummie/logos/lg_fpt.png" alt="fpt")
                        
                a(href="#", target="_blank" )
                     
                    h4 &middot DESCARGAR BOLETA para (CBO) CURSO BÁSICO OBLIGATORIO o (AP) actualización y perfeccionamiento.
                figure
    
                    img(src="../images/dummie/logos/lg_cnrt.png" alt="cnrt")
                            
                a(href="#", target="_blank" )
                         
                    h4 &middot DESCARGAR BOLETA Canon/Derecho Curso Básico Obligatorio.
                    h4 &middot DESCARGAR BOLETA Canon/Derecho Curso Obligatorio de Actualización.   
                    
                             
