extends layout

block body
    body.lnh.inner
    
block header
    include partials/header
            
block content
            
    //ficha
    .section-row.row-inner.row-common(data-midnight="white", style="background-image:url(../images/home/bg_contenidos-generales.jpg);")
        
        .container
                      
                img(src="../images/inner/im_material.png")
                      
                h2 Agenda
                
    .section-row.row-inner.inner-common
        .container
            .row
                .col-xs-12
                    
                    h3 Agenda Cargas Generales
                    
                    p.agenda-mobile 
                        | Ingresando al siguiente link, podrá ver la agenda de carga generales:  
                        a(href="http://www.lnhcatamp.org.ar/Cronograma.aspx?i=1", target="_blank") cronograma

                    .agenda
                        iframe(src="http://www.lnhcatamp.org.ar/Cronograma.aspx?i=1#contenidocronograma", width="100%", height="100%")
