extends layout

block body
    body.lnh.inner
    
block header
    include partials/header
            
block content
            
    //ficha
    .section-row.row-inner.row-common(data-midnight="white", style="background-image:url(../images/home/bg_contenidos-generales.jpg);")
        
        .container
                      
                img(src="../images/inner/im_Boletas.png")
                      
                h2 Boletas
                
    .section-row.row-inner.inner-common
        .container
            .row
                .col-xs-12
                
                    h3 Descarga de boleta FPT <br>y canon C.N.R.T.
                    
                    p
                        figure
                            img(src="../images/dummie/logos/lg_fpt.png" alt="fpt")
                            
                    p
                        a(href="http://boletafpt.tecnogestion.net/", target="_blank") DESCARGAR BOLETA para (CBO) CURSO BÁSICO OBLIGATORIO o (AP) actualización y perfeccionamiento.
                    
                    p
                        figure
                            img(src="../images/dummie/logos/lg_cnrt.png" alt="cnrt")
                                
                    p
                        a(href="http://pagoselectronicos.cnrt.gob.ar/buscar/84", target="_blank" )
                            | DESCARGAR BOLETA Canon/Derecho Curso Básico Obligatorio.
                    
                    p
                        a(href="http://pagoselectronicos.cnrt.gob.ar/buscar/83", target="_blank" )
                            | DESCARGAR BOLETA Canon/Derecho Curso Obligatorio de Actualización.   
                             
