extends layout

block body
    body.lnh.inner
    
block header
    include partials/header
            
block content
            
    //ficha
    .section-row.row-inner.row-common(data-midnight="white", style="background-image:url(../images/home/bg_contenidos-generales.jpg);")
        
        .container
                      
                img(src="../images/inner/im_preguntas.png")
                      
                h2 Preguntas Frecuentes
                
    .section-row.row-inner.inner-common
        .container
            .row
                .col-xs-12
                    
                    h3 Preguntas Frecuentes
                    
                    p La Licencia Nacional Habilitante (LNH) para conductores que realicen tareas en vehículos afectados al transporte automotor de cargas generales, de Jurisdicción Nacional. Resoluciones TRANSPORTE POR AUTOMOTOR DE CARGAS GENERALES Nº 2623, 2624/2003 y 2610/2004 – Comisión Nacional de Regulación del Transporte. (Para obtener las Resoluciones ingrese en 
                        a(href="#")  www.infoleg.gov.ar
                        | )
                    h4 ¿Cómo debo iniciar el trámite para obtener la LNH?
                    
                    p Como primera medida, debe realizar el examen Psicofísico categoría Cargas Generales (para mas información ingresar en     
                        a(href="#")  www.psicofisicos.com.ar
                        | ). Cuando tiene el APTO se puede inscribir en el curso.
                    
                    h4 ¿El curso se realiza en el mismo lugar que el psicofísico, qué documentación debo presentar?
                    
                    p CATAMP, La Cámara Argentina del Transporte Automotor de Mercancías y Residuos Peligrosas pone a disposición para el dictado de cursos 4 Unidades Académicas donde podra realizar los trámites de inscripción y el curso básico Obligatorio como el curso de Actualización y perfeccionamiento.
                        a(href="#", style="color:#003263;") VER UNIDADES ACADÉMICAS
                        
                    h4 ¿Cada cuanto debo renovar el curso?
                    
                    p El curso tiene una vigencia de 1 año.
                    
                    h4 ¿Dónde se retiran los certificados oficiales del curso de cargas generales?
                    
                    p No se entregan certificados del curso realizado ya que el valor de este documento consistía en certificar la fecha de vencimiento del mismo pero actualmente este dato se encuentra incorporado en la Licencia Nacional Habilitante. Ir a 
                        a(href="#") Imprimir tu Licencia.
                        
                    h4 ¿Dónde se retiran las LNH?
                    
                    p Las licencias no se retiran, actualmente se imprimen desde la página de la C.N.R.T. Ir a 
                        a(href="#") Imprimir tu Licencia.
