extends layout

block body
    body.lnh.inner
    
block header
    include partials/header
            
block content
            
    //ficha
    .section-row.row-inner.row-common(data-midnight="white", style="background-image:url(../images/home/bg_contenidos-generales.jpg);")
        
        .container
                      
                img(src="../images/inner/im_requisitos.png")
                      
                h2 Requisitos
                
    .section-row.row-inner.inner-common
        .container
            .row
                .col-xs-12
                
                    h3 Requisitos Generales
                    
                    ul
                        li Ser mayor de 21 años
                        li Hacer el examen Psicofísico en la categoría Cargas Generales. Una vez aprobado, puede inscribirse.
                
                    .padding-left-3
                        a.btn(href="#") Consultas Sobre Psicofísico
                        span * Si usted va a realizar tambíen el curso para Mercancías Peligrosas solicite el psicofísico ampliado.
                    
                    h6 DOCUMENTACIÓN REQUERIDA PARA LA EXIMICIÓN DEL CURSO BÁSICO <br>OBLIGATORIO ( C.B.O. ) PARA SER PRESENTADA EN LA UNIDAD ACADEMICA DONDE SE INSCRIBA    
                
                    h4 1. Si Ud. está en Relación de Dependencia : ( empleado )
                    
                    ul
                        li Certificado de Trabajo e Historial de ANSES donde surgen sus aportes de los últimos 24 meses consecutivos. Se obtiene dirigiéndose a la dependencia de ANSES más cercana a su domicilio.
                        li Consulta de Actividad Económica y Constancia de Inscripción de AFIP (OPCIONAL). <br>(Ambos puntos son anteriores a la fecha de inicio del CBO 01/08/2016)
                
                    h4 2. Si Ud. está inscripto en Autónomo o Monotributo
                
                    ul
                        li Consulta de Actividad Económica y Constancia de Inscripción de AFIP. En ambos se deben acreditar los últimos 24 meses consecutivos.
                        li Los movimientos de los dos últimos años de la Cuenta Corriente de AFIP.(Ambos puntos son anteriores a la fecha de inicio del CBO 01/08/2016)
                    
                    .padding-left-3
                        a.btn(href="#") Constancia de Inscripción
                        br
                        br    
                        a.btn(href="#") Constancia de Actividad Económica
                
                    figure
                    
                        img(src="../images/dummie/logos/lg_lnh_cbo.png")
                        
                    h3 Requisitos para el Curso Básico Obligatorio
                
                    h4 Psicofísico realizado a partir del 01/08/2016.
                
                    ul
                    
                        li Fotocopia del DNI.
                    
                        li Fotocopia de la Licencia Municipal de Conducir  con vigencia mayor a 30 días contados a partir de la fecha de  inscripción al curso.
                    
                        li 
                            | Fotocopia y Original de Arancel Curso 
                            b FPT Módulo CBO $6.520.-
                            a(href="#") Hacé click aquí para descargar la boleta
                    
                        li 
                            | Fotocopia y Original de Canon C.N.R.T. 
                            b Curso Básico Obligatorio (Única vez) $1.300.-
                            a(href="#") Hacé click aquí para descargar la boleta
                        
                    figure
                        
                        img(src="../images/dummie/logos/lg_lnh_ap.png")
                            
                    h3 Requisitos para el Curso de Actualización y Perfeccionamiento
                    
                    h4 Renovación
                
                    ul
                        li
                            | Fotocopia de la Licencia de Conducir, con vigencia mayor a 30 días contados a partir de la fecha de  inscripción al curso.
                        li    
                            | Originales y fotocopias de Arancel Curso
                            b FPT Módulo AP $1.304.- 
                            a(href="#") Hacé click aquí para descargar la boleta
                        li
                            | Originales y fotocopias de Canon C.N.R.T. 
                            b Curso Obligatorio de Actualización $260.- 
                            a(href="#") Hacé click aquí para descargar la boleta
                
                    h4 Primera vez (habiendo realizado un examen psicofísico hasta el 31/07/2016)
                
                    ul
                        li    
                            | Fotocopia del DNI.
                        li
                            | Fotocopia del Examen Psicofísico APTO
                        li
                            | Fotocopia de la Licencia de Conducir, con vigencia mayor a 30 días contados a partir de la fecha de  inscripción al curso.
                        li
                            | Originales y fotocopias de Arancel Curso
                            b FPT Módulo AP $1.304.-
                            a(href="#") Hacé click aquí para descargar la boleta
                        li
                            | Originales y fotocopias de Canon C.N.R.T. 
                            b Curso Obligatorio de Actualización $260.-
                            a(href="#") Hacé click aquí para descargar la boleta
                    
                    h4 OBSERVACIONES
                
                    p 
                        | El trámite puede realizarlo el interesado u otra persona en su nombre.
                        br
                        | Las fotocopias deben ser en hoja A4 y sin recortar.
                    
                    h4 CONSULTAS WHATSAPP
                
                    p Podes realizar todo consultas sobre los cursos enviandonos un mensaje de Lunes a Viernes de 9:00 a 17:00 hs.
                
                    .whatsapp
                        
                        a.btn(href="https://api.whatsapp.com/send?phone=5491163531727", target="_blank") 
                            i.fab.fa-whatsapp
                            | +54 9 11 6353 1727
                    
                              
