extends layout

block body
    body.index
    
block header
    include partials/header
            
block content
            
    //ficha
    .section-row.row-inner.row-ruta(data-midnight="white")
        .container                  
            img(src="../images/inner/im_cursos.png")
                      
            h2 Cursos
                
    .section-row.row-inner.inner-ruta
        .container
            .row
                .col-xs-12
                
                    h3 Cursos Cargas generales
                    
                    h6 CBO (Curso básico obligatorio)  
                    
                    p Duración: 5 jornadas completas de 8 horas cada una. Total 40 horas
                    
                    a(href="#", target="_blank" ) 
                         h4 &middot DESCARGAR PROGRAMA CURSO Curso básico obligatorio (CBO)
                        
                    h6 Renovación  (Actualización y perfeccionamiento)
                    
                    p “El Profesional”
                    
                    p Duración: 1 jornada de 8 horas.
                    
                    a(href="#", target="_blank" ) 
                        h4 &middot DESCARGAR PROGRAMA CURSO Actualización y perfeccionamiento (AP)    
                    
                    h4 CONSULTAS WHATSAPP
                    
                    p Podes realizar todo consultas sobre los cursos enviandonos un mensaje de Lunes a Viernes de 9:00 a 17:00 hs.
                    
                    a.btn.btn-green(href="#") 
                        i.fab.fa-whatsapp 11 6353 1727
                        
    .section-row.row-questions(data-midnight="white")
        .container
                .col-xs-12                  
                    h2 Quiero obtener mi Licencia para Cargas Generales
                        br
                                                          
                        a.btn.btn-green(href="#",style="color:#FFFFFF !important;") Inscribite Online        
