extends layout

block body
    body.lnh.inner
    
block header
    include partials/header
            
block content
            
    //ficha
    .section-row.row-inner.row-common(data-midnight="white", style="background-image:url(../images/home/bg_contenidos-generales.jpg);")
        .container                  
            img(src="../images/inner/im_imprimir.png")
            h2 Imprimir Licencia
                
    .section-row.row-inner.inner-common
        .container
            .row
                .col-xs-12
                
                    h3 COMO IMPRIMIR TU LICENCIA
                    
                    a(href="#", target="_blank" ) &middot IR A LA PÁGINA DE LA C.N.R.T PARA IMPRIMIR LA LICENCIA NACIONAL HABILITANTE
                    
                    
