extends layout

block body
    body.lnh.inner
    
block header
    include partials/header
            
block content
            
    //ficha
    .section-row.row-inner.row-ruta(data-midnight="white")
        .container                  
            img(src="../images/inner/im_lnh.png")
                      
            
                
    .section-row.row-inner.inner-ruta
        .container
            .row
                .col-xs-12
                
                    h3 Licencia Nacional Habilitante
                    
                    p La Licencia Nacional Habilitante, es el único documento que autoriza al conductor profesional a conducir en jurisdicción nacional.  
                    
                    p Seleccioná para que tipo de transporte de carga deseas realizar el curso o también podes imprimir tu licencia si ya realizaste el curso.
                    
                    
    
    
                .col-sm-12.col-md-4
                        
                    a(href="#", target="_blank" )                
                
                        img(src="../images/dummie/about/im_cargas.png" alt="cargas generales")
                        
                    article Cargas <br>Generales
                    
                .col-sm-12.col-md-4
                                    
                    a(href="#", target="_blank" )                
                
                        img(src="../images/dummie/about/im_peligrosas.png" alt="mercancias peligrosas")
                
                    article Mercancías<br> Peligrosas                
                .col-sm-12.col-md-4
                                    
                    a(href="#", target="_blank" )                
                
                        img(src="../images/dummie/about/im_licencia.png" alt="licencia")
                        
                    article Imprimir <br>Licencia        
