extends layout

block body
    body.lnh.inner
    
block header
    include partials/header
            
block content
            
    //ficha
    .section-row.row-inner.row-common(data-midnight="red", style="background-image:url(../images/home/bg_materiales-peligrosos.jpg);")
        .container                  
            img(src="../images/inner/im_cursos.png")
                      
            h2 Cursos
                
    .section-row.row-inner.inner-common
        .container
            .row
                .col-xs-12
                
                    h3 Cursos Mercancías Peligrosas
                    
                    h6 CURSO BÁSICO  
                    
                    p Para realizar por primera vez el curso basico en Mercancías Peligrosas es necesario como conductor profesional tener conocimientos
                    
                    p basados en la legislación en el transporte de Mercancías Peligrosas y el conocimiento del riesgo de transportarlo.
                    
                    p Los contenidos son:
                        
                    ul.padding-left-3
                        li LEY NACIONAL DE TRANSITO
                        li Ley No. 26.363 Modificaciones a la Ley Nº. 24.449.
                        li Decreto No. 1716/08 Decreto Reglamentario de la Ley 26.363
                        li Resolución ST No. 110/97
                        li Resolución ST No. 65/2000(Capacitación Complementaria para Conductores de Transporte de Mercancías Peligrosas)
                        li Resolución ST No. 195/97
                        li Resolución ST 720/87 (Fichas de Intervención)
                        li Corrección y Actualización del Manual Naranja que se les entrega a los Choferes, del Curso Básico.
                    p Duración: 2 jornadas de 8 a 17 hs.
                    
                    a(href="#", target="_blank" ) &middot DESCARGAR PROGRAMA CURSO BÁSICO      
                    
                    br
                        
                    h6 CAPACITACIÓN COMPLEMENTARIA EN MERCANCÍAS PELIGROSAS (Anual)
                    
                    p Anualmente se debera realizar un curso complementario ampliando sus conocimientos y actualizaciones legales para el transporte de Mercancía Peligrosa por carretera.
                    
                    p Duración: 1 jornada de 8 a 17 hs.
                    
                    a(href="#", target="_blank" ) &middot DESCARGAR PROGRAMA CURSO  COMPLEMENTARIO
                    
                    br
                         
                    h4 CONSULTAS WHATSAPP
                         
                    p Podes realizar todo consultas sobre los cursos enviandonos un mensaje de Lunes a Viernes de 9:00 a 17:00 hs.
                         
                    .whatsapp
                        
                        a.btn(href="https://api.whatsapp.com/send?phone=5491163531727", target="_blank") 
                            i.fab.fa-whatsapp
                            | +54 9 11 6353 1727
                        
    .section-row.row-questions(data-midnight="white", style="background:#990033;")
        .container
            .col-xs-12
                            
                h2 Quiero obtener mi Licencia para Mercancías Peligrosas
                                                      
                a.btn.btn-green(href="mp-requisitos.html",style="color:#FFFFFF !important;") Inscribite Online        
