extends layout

block body
    body.lnh.inner
    
block header
    include partials/header
            
block content
            
    //ficha
    .section-row.row-inner.row-common(data-midnight="white", style="background-image:url(../images/home/bg_materiales-peligrosos.jpg);")
        .container
                  
            img(src="../images/inner/im_inscripcion.png")
                  
            h2 Inscripción
                
    .section-row.row-inner.inner-common
        .container
            .row
                .col-xs-12
                
                    h3 Pago electrónico de arancel <br>y canon C.N.R.T. 
                    
                    figure

                        img(src="../images/dummie/logos/lg_catamp.png" alt="fpt")
                            
                    a(href="#", target="_blank" )
                        h4 &middot PAGO ELECTRÓNICO arancel curso básico CATAMP
                    a(href="#", target="_blank" )
                        h4 &middot PAGO ELECTRÓNICO arancel curso complementario CATAMP
                    
                    figure
        
                        img(src="../images/dummie/logos/lg_cnrt.png" alt="cnrt")
                                
                    a(href="#", target="_blank" )
                        | DESCARGAR BOLETA Canon/Derecho Curso Básico Obligatorio.
                        
                    a(href="#", target="_blank" )
                        | DESCARGAR BOLETA Canon/Derecho Curso Obligatorio de Actualización.   
                        
                             
