extends layout

block body
    body.lnh.inner
    
block header
    include partials/header
            
block content
            
    //ficha
    .section-row.row-inner.row-common(data-midnight="red", style="background-image:url(../images/home/bg_materiales-peligrosos.jpg);")
        .container
                  
            img(src="../images/inner/im_inscripcion.png")
                  
            h2 Inscripción
                
    .section-row.row-inner.inner-common
        .container
            .row
                .col-xs-12
                
                    h3 Pago electrónico de arancel <br>y canon C.N.R.T. 
                    
                    p
                        | Estamos trabajando para poder ofrecerte un servicio de pago online para tu comodidad. Por el momento los aranceles deberás abonarlos en la Unidad académica al momento de la inscripción.
                        
                             
