extends layout

block body
    body.lnh.inner
    
block header
    include partials/header
            
block content
            
    //ficha
    .section-row.row-inner.row-common(data-midnight="white", style="background-image:url(../images/home/bg_materiales-peligrosos.jpg);")
        
        .container
                      
                img(src="../images/inner/im_material.png")
                      
                h2 Material Adicional
                
    .section-row.row-inner.inner-common
        .container
            .row
                .col-xs-12
                    
                    h3 Material Adicional
                    
                    p Ponemos a tu dispocición material de interes sobre el transporte de Cargas Generales. 
                    .descargas
                        img(src="../images/dummie/logos/lg_nube.png")
                        span Material adicional 01
                        label Descripción del material disponible para descargar.        
                            label Descripción del material disponible para descargar.
                    
                        img(src="../images/dummie/logos/lg_nube.png")
                        span Material adicional 02
                        label Descripción del material disponible para descargar.        
                        label Descripción del material disponible para descargar.
                    
                        img(src="../images/dummie/logos/lg_nube.png")
                        span Material adicional 03
                        label Descripción del material disponible para descargar.        
                        label Descripción del material disponible para descargar.
                    
                        img(src="../images/dummie/logos/lg_nube.png")
                        span Material adicional 04
                        label Descripción del material disponible para descargar.        
                        label Descripción del material disponible para descargar.
                    
                        img(src="../images/dummie/logos/lg_nube.png")
                        span Material adicional 05
                        label Descripción del material disponible para descargar.        
                        label Descripción del material disponible para descargar.
                    
                        img(src="../images/dummie/logos/lg_nube.png")
                        span Material adicional 06
                        label Descripción del material disponible para descargar.        
                        label Descripción del material disponible para descargar.
