extends layout

block body
    body.lnh.inner
    
block header
    include partials/header
            
block content
            
    //ficha
    .section-row.row-inner.row-common(data-midnight="red", style="background-image:url(../images/home/bg_materiales-peligrosos.jpg);")
        .container
                      
            img(src="../images/inner/im_preguntas.png")
                  
            h2 Preguntas Frecuentes
                    
    .section-row.row-inner.inner-common
        .container
            .row
                .col-xs-12
                    
                    h3 Preguntas Frecuentes
                    
                    .preguntas
                        
                        .pregunta-item
                            .pregunta
                                p ¿El curso se realiza en el mismo lugar que el psicofísico?
                                span 
                            .respuesta
                                p 
                                    | No, el Psicofísico se realiza en las distintas clínicas habilitadas por la CNRT. Para conocer las sedes habilitados puede acceder al siguiente link:
                                    a(href="http://www.psicofisicos.com.ar") www.psicofisicos.com.ar
                        
                        .pregunta-item
                            .pregunta 
                                p ¿Habiendo realizado el Psicofísico para una categoría (Cargas Generales) se debe repetir para la otra (Mercancías Peligrosas)?
                                span 
                            .respuesta
                                p No, el psicofísico es uno sólo, tanto para Mercancías Peligrosas como para Cargas Generales. Sólo se debe realizar un trámite llamado “Ampliación”, si es que le asignaron una categoría diferente a la que Ud. necesita.
                                p Una vez terminado el curso, verificará para qué categoría se le ha dado el Apto psicofísico, leyenda que se encuentra en el costado derecho de la foto de dicho psicofísico.
                                p Si no llegara a figurar la categoría Mercancías Peligrosas, deberá acercarse a la clínica donde realizó su examen, presentando la constancia del curso realizado y aprobado que se le entregará una vez finalizado el mismo y solicitar así la ampliación para dicha categoría. En su defecto deberá realizarla con el certificado oficial, ya que de no figurar la categoría indicada en el apto no le será impresa la LNH
                        
                        .pregunta-item
                            .pregunta 
                                p ¿Cómo debo proceder si tengo el apto psicofísico para Mercancías Peligrosas y no PUEDO IMPRIMIR la LNH?
                                span 
                            .respuesta 
                                p Haber realizado el Psicofísico con la categoría deseada no acredita para la obtención de la LNH sino realiza el curso correspondiente. Debe tener el apto psicofísico y realizar el curso de Mercancías Peligrosas.
                             
                        .pregunta-item
                            .pregunta 
                                p ¿Tengo que hacer primero el curso de Cargas Generales para obtener la LNH de Peligrosas?
                                span 
                            .respuesta 
                                p Para obtener la LNH de Mercancías Peligrosas por primera vez no es necesario realizar el curso de Cargas Generales, a menos que su necesidad laboral así lo exija. Son dos licencias independientes una de la otra, una no obliga a la otra.
                                p Para su seguridad Ud. debe tener realizado el Psicofísico y haberle dado apto. Luego realizar el curso de Mercancías Peligrosas que consta de dos jornadas completas.
                        
                        .pregunta-item
                            .pregunta 
                                p ¿Dónde se retiran los certificados oficiales del curso de Mercancías Peligrosas?
                                span 
                            .respuesta 
                                p El certificado se entrega en la unidad académica donde se realizó el curso. Ir a
                                    a(href="imprimir.html") Imprimir tu Licencia.
                            
                        .pregunta-item
                            .pregunta 
                                p ¿Dónde se retiran las LNH?
                                span 
                            .respuesta 
                                p Las licencias no se retiran, actualmente se imprimen desde la página de la C.N.R.T. Ir a 
                                    a(href="imprimir.html") Imprimir tu Licencia.
                        
                        .pregunta-item
                            .pregunta 
                                p ¿Qué pasa si abandoné la actividad por un año o más tiempo?
                                span 
                            .respuesta 
                                p Para aquellos choferes que ya han tenido la LNH de Mercancías Peligrosas, los cursos, no son correlativos. El hecho de haber abandonado la actividad por un par de años, no lo hace deudor de cursos. Ud. deberá reincorporarse con el curso vigente en el momento que su actividad así lo exija.
                                p En este caso los cursos tienen una duración de una jornada.
                        
                        .pregunta-item
                            .pregunta 
                                p ¿Qué pasa si abandoné la actividad por un año o más tiempo?
                                span 
                            .respuesta 
                                ul
                                    li Para choferes menores a 45 años de edad la LNH tiene una vigencia de 2 años.
                                    li Para choferes mayores a los 45 años de edad tiene una vigencia de 1 año.
                                p Los cursos en cambio se renuevan anualmente en tanto y cuanto se mantenga en la actividad.    
                                
