extends layout

block body
    body.lnh.inner
    
block header
    include partials/header
            
block content
            
    //ficha
    .section-row.row-inner.row-common(data-midnight="white", style="background-image:url(../images/home/bg_materiales-peligrosos.jpg);")
        
        .container
                      
                img(src="../images/inner/im_requisitos.png")
                      
                h2 Requisitos
                
    .section-row.row-inner.inner-common
        .container
            .row
                .col-xs-12
                
                    h3 Requisitos Generales
                    
                    ul
                        li Ser mayor de 21 años (incluido el acompañante)
                        li Tener Apto Psicofísico vigente para la categoría Mercancías Peligrosas.

                
                    .padding-left-3
                        a.btn(href="#",style="background:#990033;") Consultas Sobre Psicofísico
                        span *para Mercancías Peligrosas solicite el psicofísico ampliado.
                
                    figure
                    
                        img(src="../images/dummie/logos/lg_lnh_cb.png")
                        
                    h3 Requisitos para el Curso Básico
                
                    ul
                    
                        li Fotocopia del DNI.
                        
                        li 
                            | Abonar en el Centro de Inscripción el importe de $2.608,00.- en concepto de Arancel del curso 
                            a(href="#") Hacé click aquí para pago online
                    
                        li 
                            | Abonar en el Centro de Inscripción el importe de $482,50.- en concepto de Canon CNRT.
                            a(href="#") Hacé click aquí para pago online
                        span *En caso de Acompañante, sólo se abonará el importe correspondiente al Arancel del curso. 
                        
                    figure
                        
                        img(src="../images/dummie/logos/lg_lnh_comple.png")
                            
                    h3 Requisitos para el Curso complementario                
                
                    ul
                        li
                            | Fotocopia del DNI.
                        li    
                            | Abonar en el Centro de Inscripción el importe de $1.304,00.- en concepto de Arancel del curso
                            a(href="#") Hacé click aquí para pago online 
                        li
                            | Abonar en el Centro de Inscripción el importe de $386,00.- en concepto de Canon CNRT.
                            a(href="#") Hacé click aquí para pago online
                        span *En caso de Acompañante, sólo se abonará el importe correspondiente al Arancel del curso.     
                    
                    h4 OBSERVACIONES
                
                    p 
                        | El trámite puede realizarlo el interesado u otra persona en su nombre.
                        br
                        | Las fotocopias deben ser en hoja A4 y sin recortar.
                        br
                        | Los Certificados de Mercancías Peligrosas serán entregados en 20 días a partir de la cursada.
                    
                    h4 CONSULTAS WHATSAPP
                
                    p Podes realizar todo consultas sobre los cursos enviandonos un mensaje de Lunes a Viernes de 9:00 a 17:00 hs.
                
                    .whatsapp
                        
                        a.btn(href="https://api.whatsapp.com/send?phone=5491163531727", target="_blank") 
                            i.fab.fa-whatsapp
                            | +54 9 11 6353 1727
                    
                              
