extends layout

block body
    body.lnh.inner
    
block header
    include partials/header
            
block content
            
    //ficha
    .section-row.row-noticias(data-midnight="white")
                  
        // Swiper
        .swiper-container
            .swiper-wrapper
                
                .swiper-slide(style="background-image:url(../images/dummie/noticias/im_nota2.jpg);")
                    .sw-inner
                
                .swiper-slide(style="background-image:url(../images/dummie/noticias/im_nota.png);")
                    .sw-inner
                        
                
            // Add Pagination
            .swiper-pagination
                      
    .section-row.row-inner.inner-noticias                    
        .container
            .row
                .col-sm-12.col-md-8
                    
                    h3 Festival Trichaco 2018
                    
                    p Entre el 12 y 15 de julio, en el paraje Rancho Ñato, en Santa Victoria Este, corazón del Chaco Salteño, tuvo lugar el 16° Festival Trichaco.
                    
                    p El Chaqueño Palavecino, quien comenzó con la iniciativa del festival hace 16 años, fue el encargado de cerrar la edición 2018 y deleitar a la multitud que se acercó para bailar y cantar al ritmo del género musical. También pasaron por el escenario Luciano Pereyra, Sergio Galleguillo, Las Voces de Orán, entre otros.
                    
                    p Este festival lo organiza todos los años la fundacion Rancho Ñato que preside el Chaqueño Palavecino y de la cual Walter Bo ocupa el cargo de Vicepresidente. Walter es socio de la empresa Transportes Puerto Nuevo S.R.L y dirigente transportista, formando parte de la Comisión Directiva de la Cámara Argentina del Transporte Automotor de Mercancías y Residuos Peligrosos- CATAMP
                    
                    p Esta fundación tuvo su origen hace 16 años cuando un maestro del Chaco Salteño le contó al Chaqueño Palavecino, que sus alumnos no conocían los lápices de colores. A partir de allí se comenzó a generar todo esta gran movida Solidaria.
                    
                    p Por su parte Walter Bo convoca a muchos conocidos empresarios del transporte para colaborar con esta acción solidaria quienes junto a él, transportan todo lo que reúnen para las escuelas rurales y comunidades wichi del chaco salteño. Asimismo CATAMP, colabora todos los años haciendo un importante aporte solidario.
                    
                    p Todo lo que se recauda en los festivales lo destinan para hacer obras proveyendo a estas comunidades de agua potable, educación, mejoras de viviendas, alimentos, enceres domésticos, ropa,etc.
                    
                    p Felicitamos a Walter por tan encomiosa labor, demostrando un gran espíritu de lucha y Solidaridad con quienes mas lo necesitan.
                
                .col-sm-12.col-md-4
                    
                    //WORDPRESS STUFF
                
                    
    .posts-links
        a.prev-post(href="#", style="background-image:url(../images/dummie/noticias/im_nota2.jpg);")
            .inner-link
                span Anterior noticia
                h5 Reunión de especialistas transporte Mercancías Peligrosas
        a.next-post(href="#", style="background-image:url(../images/dummie/noticias/im_nota.png);")
            .inner-link
                span Próxima noticia
                h5 Reunión de especialistas transporte Mercancías Peligrosas
    
                    
