*.xml
*.iml
.idea
.DS_Store

node_modules
build
html/src/*-manifest.json
wordpress/wp-content/themes/wedoweb-catamp/src/*-manifest.json
wordpress/wp-content/themes/wedoweb-catamp/js
wordpress/wp-content/themes/wedoweb-catamp/css
wordpress/wp-config.local.php