extends layout

block body
    body.index
    
block header
    include partials/header
            
block content
            
    //ficha
    .section-row.row-inner.row-what_is(data-midnight="white")
        
        .container
                                  
    .section-row.row-inner.row.inner-what_is
        .container
            .row
                .col-xs-12      
                      
                    h3 ¿ Qué es CIPET?
                    
                    h4 HISTORIA
                        
                    p La Cámara Argentina del Transporte Automotor de Mercancías y Residuos Peligrosos, CATAMP, impulsó el desafío de crear este Centro de Información para Emergencias en el Transporte el cual financia y se encuentra operando ininterrumpidamente desde abril de 2008.
                    
                    p Como primera medida se generó un sistema de coordinación de comunicaciones a nivel nacional, para cuyo desarrollo se contactaron a especialistas locales e internacionales, se capacitaron a los operadores, al tiempo que se desarrollaron las bases de datos que se siguen actualizando año tras año para mantener intacta la calidad de su contenido. 

                    p La sinergia lograda entre el personal especializado y la alta calidad tecnológica da lugar a un centro que día a día trabaja recibiendo, transmitiendo y procesando la información. Un centro cuyo espíritu es agregar valor a la atención que efectúan los respondedores en todo el territorio argentino. Además de potenciar la eficiencia y eficacia en la respuesta también se ocupa de formular estadísticas que permitan a los organismos pertinentes contar con la debida información para la diagramación de políticas activas de prevención.
                    
                    h4 ¿QUÉ ES CIPET?
                    
                    p CIPET, es el centro de información para emergencias en el transporte por carretera de cargas generales y mercancías peligrosas que funciona initerrumpidamente desde hace 10 años, las 24hs los 365 días del año en todo el territorio nacional.
                    
                    p Consiste en un sistema centralizado de comunicación e información georreferenciado, que mediante llamados a su 0800 y cumpliendo con un protocolo de atención, da la alerta inmediata a los organismos asistenciales mas cercanos, aportando información y monitoreando el suceso para atemperar las posibles consecuencias de los accidentes e incidentes informados.

                    p Contamos con una red de información para dar una respuesta rápida y eficiente en la atención de las emergencias en el transporte carretero, procurando que los caminos sean cada vez más seguros. De esta manera con la intervención del CIPET logramos minimizar los efectos de los accidentes en nuestras rutas, procurando el bienestar de la comunidad, la seguridad y tranquilidad del personal de las empresas relacionadas al transporte de cargas, y el cuidado del Medio Ambiente.

                    h4 ¿CÓMO OPERA?
                    
                    p Los vehículos de carga de las empresas asociadas al CIPET cuentan con calcos exteriores identificatorios con el número gratuito de emergencias 0800-666-2282. Ante un accidente cualquier persona puede comunicarse a nuestro centro de operaciones y así, después de verificar la llamada del informante, se inicia el proceso de coordinación de la emergencia dando el alerta y asistiendo telefónicamente a los organismos de respuesta más cercanos al lugar dado que el CIPET, a través de su base de datos, se encuentra en conexión directa con las centrales de bomberos, policía, Gendarmería, Prefectura, hospitales, centros de salud de todo el país, Defensa Civil, empresas transportistas, dadores de carga, empresas de alquiler de grúas y maquinarias vial, empresas de remediación, además de usuarios de mercancías y residuos peligrosos.
                    
                    p Por otro lado el CIPET mantiene un contacto permanente con centros gemelos de información en países del MERCOSUR y la región.
                    
                    p El CIPET cumple un rol importante en la prevención, por ejemplo:
                    
                    ul
                        li
                            p Pedido de señalización de vehículos que detuvieron su marcha por falta de combustible o desperfectos mecánicos.
                        li
                            p Pedido de envió de autoridades porque el camión se detuvo en un lugar inseguro y hay peligro de robo.
                        li
                            p Intervenir ante autoridades para que dejen pasar o brindar salida alternativa a un transporte detenido en un piquete o corte de ruta.
                        li
                            p Pedido de información de empresas sobre estado de Rutas para ver si se puede transitar sobre esa vía por diferentes motivos,cortada por accidentes, cortada por situaciones climáticas.
                        li
                            p Pedido de asistencia médica para chóferes que sufren descompensaciones en la ruta.
                        li
                            p nformación sobre productos peligrosos a diferentes organismos, como por ejemplo para atender accidentes en instalaciones fijas.
                                              
                    h4 ¿OBJETIVOS DEL CIPET?
                    
                    p Capacitar en forma organizada e ininterrumpida a distintos cuerpos de bomberos, tratando de cubrir el largo y ancho de nuestro país, sobre los distintos peligros que implican los productos que se transportan por nuestras rutas y las recomendaciones para actuar de forma segura y eficiente en cada caso. 

                    p Mantener la colaboración con los Organismos Gubernamentales. 

                    p Renovar y actualizar constantemente la capacitación de los operadores dentro de un programa de desarrollo. 

                    p Coordinar y realizar simulacros de accidentes en el transporte con empresas, cuerpos de bomberos y organismos estatales. 

                    p Mantener la difusión y comunicación con la comunidad de las actividades de CIPET por diferentes medios tanto masivos como especializados y redes sociales.

                    p Sostener y retroalimentar las relaciones con Cámaras, Centros y Organizaciones Nacionales e Internacionales a fin de intercambiar experiencias y conocer las mejores prácticas del sector que contribuyan a una mejora continua del CIPET. 

                    p Elaborar informes y estadísticas sobre las características de los accidentes, así como también relevar y analizar los índices de derrames, frecuencias, rutas y localidades y para la confección de mapas de riesgo. 
                    
                    h4 VALOR AGREGADO
                    
                    p Como valor agregado elabora y difunde “Boletines Técnicos”, Capacita empresas de transporte, se inserta en sus roles de emergencia, participa en sus ejercicios de simulacro e intercambia conocimientos con las distintas fuerzas de seguridad y Bomberos Voluntarios.
                    
                    h4 ORGANISMOS GUBERNAMENTALES
                    
                    p Desde sus inicios el CIPET Opera el en el ámbito de la Secretaria de protección civil del Ministerio de Seguridad de la Nación a través de un convenio de cooperación y asistencia.
                    
                    p Desde el año 2014, el IRAM certifica al CIPET en cumplimiento de la Norma de Gestión de Calidad ISO 9001.
                    
                    p Hoy en día CATAMP-CIPET colabora en la coordinación de la comisión “Amenazas Tecnológicas: Transporte e Instalaciones Fijas” del Plan Nacional de Reducción de Riesgo de Desastres. 
                    
                    .container
                        .row
                            .col-sm-12.col-md-4
                        
                                figure
            
                                    img(src="images/dummie/about/im-logo1.png" alt="secretaria")
                    
                            .col-sm-12.col-md-4
                                    
                                figure
                        
                                    img(src="images/dummie/about/im-logo2.png" alt="sinagir")
                                
                            .col-sm-12.col-md-4
                                    
                                figure
                        
                                    img(src="images/dummie/about/im-logo3.png" alt="ministerio")
                                                        
                                                        
                                
