extends layout

block body
    body.index
    
block header
    include partials/header
            
block content
            
    //ficha
    .section-row.row-inner.row-ruta(data-midnight="white")
        .container                  
            img(src="images/inner/im_lnh.png")
                      
            
                
    .section-row.row-inner.row.inner-ruta
        .container
            .row
                .col-xs-12
                
                    h3 ¿Qué es LNH?
                    
                    p La Licencia Nacional Habilitante, es el único documento que autoriza al conductor profesional a conducir en jurisdicción nacional. 
                    
                    p El régimen de otorgamiento y uso está establecido por Resolución de la Secretaría de Transporte de la Nación N° 444 del 9 de diciembre de 1999 y sus antecesoras.
                    
                    p La Comisión Nacional de Regulación del Transporte (C.N.R.T.) ha recibido por delegación del gobierno nacional la facultad de su otorgamiento (Decreto N°1388 del de 1996).
                    
                    p Por Concurso Público y Nacional, la FPT es la única entidad habilitada para los cursos que permiten la obtención de la LNH para la categoría de Cargas Generales y principal prestador para las de Mercancías Peligrosas.
                    
                    p CATAMP es la Cámara Argentina del Transporte Automotor de Mercancías y Residuos Peligrosos; Fundada en 1989, su estructura societaria se integra con empresas de transporte de reconocida trayectoria en el mercado. Despliega una intensa labor en el área de capacitación en todos los niveles del personal de sus asociados. A través de la FPT (Fundación para la Formación de Profesionales en el Transporte) dicta cursos específicos y obligatorios para la obtención de la Licencias Nacionales Habilitantes de Cargas Generales y Mercancías Peligrosas. 
                    
                    h4 La LNH se emite para
                    
                    ul
                        li 
                            p Cargas generales
                        li 
                            p Cargas peligrosas
                            
    .section-row.row-bepart(data-midnight="white",style="background:#EEEEEE;")
        .container
            .col-xs-12                  
            h2 Quiero obtener la Licencia Nacional Habilitante
                br
                                      
                a.btn(href="#contacto") Inscribite Online                
                            
