extends layout

block body
    body.index
    
block header
    include partials/header
            
block content
    
    //CONTACTO
    .section-row.row-contacto

        .container
        
