extends layout

block body
    body.index
    
block header
    include partials/header
            
block content
            
    //ficha
    .section-row.row-inner.row-ruta(data-midnight="white")
        .container                  
            img(src="images/inner/im_emergency.png", style="max-width:647px;")
                      
            h2 Material Retroreflectivo - Calcos
                
    .section-row.row-inner.row.inner-ruta
        .container
            .row
                .col-xs-12
                
                    h3 Calcomanía identificatoria <br> de Material Retro-reflectivo
                    
                    p Los vehículos de carga de las empresas asociadas al CIPET cuentan con una identificación exterior con el número de emergencias.El mismo está realizado en un vinilo autoadhesivo prasmatico de alta reflectividad omnidireccional y durabilidad al exterior con colores vivos para identificación diurna y gran reflectividad en situación nocturna.
                    
                    h4 UBICACIÓN DE LA SEÑALIZACIÓN
                    
                    figure.emergencia
        
                        img(src="images/inner/im-emergencia.jpg" alt="emergencia")
                    
                    h4 Ver características técnicas del material Retroreflectivo
