extends layout

block body
    body.index
    
block header
    include partials/header
            
block content
            
    //ficha
    .section-row.row-ficha-indice
        
        .container
                      
                //img
                      
                label índice del Transporte
                          
                    p CATAMP tomo la decisión de calcular índices que reflejen la variación del costo de transporte de productos que mueven sus asociados. Motivo esta medida la necesidad de incluir en su calculo los costos particulares que tiene nuestra actividad, que se manifestaban desde hace tiempo y que los diferencian del transporte de carga general. Lanza dos indicadores que sintetizan la variación de los rubros que componen los diferentes tráficos del sector. Uno vinculado al transporte de Residuos Industriales y otro destinado al transporte de Sustancias Peligrosas, tales como productos químicos, combustibles livianos, etc.
                    
                    p El Centro Tecnológico de Transporte, Transito y Seguridad (C3T) de la Universidad Tecnológica Nacional (UTN) participa y homologa el procedimiento que utiliza la cámara como base de calculo para los dos índices: Transporte de Residuos Industriales y Transporte de Sustancias Peligrosas.
          
                    p Son necesarios dos indicadores ya que ambas actividades requieren distintos recursos y cada uno de ellos impacta en forma diferente en los costos finales. Estos índices tienen por objeto reflejar mensualmente las variaciones en los costos para ambos tráficos y tiene en consideración todos los componentes del mismo, a excepción de las improductividades que pueden darse y que en general responder a causas ajenas a nuestras empresas. La publicación de ambos índices en nuestra pagina web tendrá periodicidad mensual
                      
                      
                a.btn(href="#", target="_blank") Índice Septiembre 2018
                      
                h4 DESCARGAR ÍNDICES PASADOS
                      
                ul.indices
                          
                    l1
                        a(href="#", target="_blank" ) 2018
                    li
                        a(href="#", target="_blank" ) 2017
                    li
                        a(href="#", target="_blank" ) 2016
                            
                      
                    
                
