extends layout

block body
    body.index
    
block header
    include partials/header
            
block content
    
    //Logo
    
    .section-row.main-logo
    
          .container
    
                header.main
              
                      h1 Cámara Argentina del Transporte Automotor de Mercancias y Residuos Peligrosos
              
            
                
                
    //About
    .section-row.row-about
        .container
            .row
                
                .col-xs-18.col-sm-9.col-md-6
                      
                      h2 ¿Qué es CATAMP?
                      
                      p CATAMP es la Cámara Argentina del Transporte Automotor de Mercancias y Residuos Peligrosos y constituye la única asociación gremial empresaria voluntaria en el rubro que representa.
                      p Fundada en 1989, su estructura societaria se integra con empresas de transporte de reconocida trayectoria en el mercado.
                      a(href="#", target="_blank" ) Ver mas
                          
                .col-xs-18.col-sm-19.col-md-6
                  
                      .type.vid
                        
                          .multimedia
                              iframe(src="")
                    
    //services
    .section-row.row-services
        .container
            .row
              
              h2 Servicios
              
              .col-xs-12.col-sm-6.col-md-4
                  
                article.cipet
                  
                  figure
                      
                     img(src="images/cipet.png" alt="cipet  ")
                    
                  p Un servicio de CATAMP que se encuentra operando ininterrumpidamente desde 2008 dando una respuesta rapida y eficiente en la atencion de las emergencias en el transporte carretero, procurando que los caminos sean cada vez mas seguros.
                    
              .col-xs-12.col-sm-6.col-md-4
                      
                article.cursos
                    
                  figure
                        
                    img(src="images/cursos.png" alt="cursos")
                        
                  p CATAMP brinda cursos que permiten la obtención de la Licencia Nacional Habilitante para la categoría de Cargas Generales y Mercancías Peligrosas.
                
              .col-xs-12.col-sm-6.col-md-4
                              
                article.ruta
                    
                  figure
                            
                    img(src="images/ruta.png" alt="ruta")
                                
                  p Es el Registro Único de Transporte Automotor.
                  p Es obligatorio y con validez oficial por un año y renovable luego de transcurridos 12 meses.
                                                                                                           
              .col-xs-12.col-sm-6.col-md-4
                            
                article.registro
                            
                  figure
                                
                     img(src="images/rnpq.png" alt="registro")
                      
                  p CATAMP cuenta con un servicio de asesoramiento y gestión de trámites para los asociados que deban inscribirse ante dicho registro.
                   
              .col-xs-12.col-sm-6.col-md-4
                                         
                article.indice
                         
                  figure
                                       
                    img(src="images/indice.png" alt="indice")
                                           
                  p CATAMP tomó la decisión de calcular índices que reflejen las variaciones del costo de transporte de productos que mueven sus asociados. Motivó esta medida la necesidad de incluir en su cálculo los costos particulares que tiene nuestra actividad.
    
              .col-xs-12.col-sm-6.col-md-4
                             
                article.legislacion
                             
                   figure
                                 
                     img(src="images/legislacion.png" alt="legislacion")
                           
                   p Toda la legislación correspondiente al Transporte de Mercancías peligrosas por carretera.
                   p Contiene una recopilación de toda la legislación Nacional, Provincial y Municipal sobre este tipo de transporte en particular y sobre el transporte de cargas generales.
                       
    //be part
    .section-row.row-bepart  
        .container
          
            h2 ¿Queres ser parte de CATAMP?
            
            a(href="#", target="_blank" ) Asociate
            
            a(href="#", target="_blank" ) Ver asociados
            
    //News
    .section-row-row-News
        .container
            .row
              
              h2 Noticias
              
              .col-xs-12.col-sm-6.col-md-4
                
                article
                  
                  figure
                    
                    img(src="images/news1.png" alt="noticia1")
                      
                h3 Solidaridad
                
                p.news1 16° edición del festival Trichaco
                p gracias al aporte de muchas empresas de transporte llegaron donaciones de comida leche y articulos necesarios para esta comunidad.     
                
              .col-xs-12.col-sm-6.col-md-4
                  
                article
                    
                  figure
                      
                    img(src="images/news2.png" alt="noticia2")
                        
                h3 Actualidad
                  
                p.news2 Reunión de especialistas transporte MMPP
                p Se definieron los temas que presentará nuestro País en la proxima Asamblea del SGT N° 5 Transporte del MERCOSUR.

              .col-xs-12.col-sm-6.col-md-4
                    
                article
                      
                  figure
                        
                    img(src="images/news3.png" alt="noticia3")
                          
                h3 Formación
                    
                p.news3 Entrega de certificados Diplomado en MMPP
                p el IRAM Entregó los certificados a los alumnos que aprobaron el curso del diplomado en el transporte de MMPP
              
              a(href="#", target="_blank" ) Ver mas
              
    //questions
    .section-row-row-questions
        .container
          
          h2 ¿Tenes alguna consulta?
          
          a(href="#", target="_blank" ) Contactanos
          
    //comision
    .section-row.row-comision
        .container
            .row
              
              .col-xs-18.col-sm-9.col-md-6
                
                h2 Comisión Directiva 2018/2020
                
                //slider
                
              .col-xs-18.col-sm-9.col-md-6
              
                h3 Comisión Directiva 2018/2020
                
                ul.comision
                  
                  li
                    p Sr. Angel Fuente Fuente
                    p Presidente
                  li
                    p Sr. Juan Diego Segovia
                    p Vicepresidente
                  li
                    p Sr. Walter José Bo
                    p Secretario
                  li
                    p Lic. Gustavo A. Contrini
                    p Prosecretario
                  li
                    p Dr. Guillermo Canievsky
                    p Tesorero
                  li
                    p Sr. Nestor Angiletta
                    p Protesorero
                  li
                    p Sr. Hugo Daniel Baciunas
                    p Vocal Titular            
                  li
                    p Sr. José Nereo Silva
                    p Vocal Titular
                  li
                    p Ing. Christian E Barbara
                    p Vocal Titular
                  li
                    p Ing Claudio Kauffmann
                    p Vocal Suplente
                  li
                    p Sr. Jorge fennema
                    p Vocal Suplente
                    
                ul.fiscales
                  
                  li
                    p Sr. Roberto Atilio Colombo
                    p Titular
                  li
                    p Sr. Roberto Luis Martinez
                    p Titular
                  li
                    p Ing. Diego Mariano Folch
                    p Titular
                  li
                    p Srta. Carolina Colombo
                    p Suplente
                  li
                    p Sr. Guillermo Conti
                    p Suplente
                    
    //Asociados                                    
              
