extends layout

block body
    body.index
    
block header
    include partials/header
            
block content
    
    //SLIDER
    .section-row.row-slider
        
        .container
            
                
                
    //PROYECTOS
    .section-row.row-proyectos
        .container
            .row
                
                .col-xs-12.col-sm-6.col-md-4
                    
                                
                .col-xs-12.col-sm-6.col-md-4
                    
                                
                .col-xs-12.col-sm-6.col-md-4
                    
                
