extends layout

block body
    body.index
    
block header
    include partials/header
            
block content
            
    //ficha
    .section-row.row-ficha-indice    
        
        .container
                      
                //img
                      
                label índice del Transporte
                
                h2 Índices del Transporte 2016
                
                ul.i-2016
                              
                    l1
                            a(href="#", target="_blank" ) DICIEMBRE 2016
                    li
                            a(href="#", target="_blank" ) NOVIEMBRE 2016
                    li
                            a(href="#", target="_blank" ) OCTUBRE 2016
                    li
                            a(href="#", target="_blank" ) SEPTIEMBRE 2016       
                    li
                            a(href="#", target="_blank" ) AGOSTO 2016
                    li
                            a(href="#", target="_blank" ) JULIO 2016
                    li
                            a(href="#", target="_blank" ) JUNIO 2016
                    li
                            a(href="#", target="_blank" ) MAYO 2016
                    
