extends layout

block body
    body.index
    
block header
    include partials/header
            
block content
            
    //ficha
    .section-row.row-ficha-indice    
        
        .container
                      
                //img
                      
                label índice del Transporte
                
                h2 Índices del Transporte 2017
                
                ul.i-2017
                              
                    l1
                            a(href="#", target="_blank" ) DICIEMBRE 2017
                    li
                            a(href="#", target="_blank" ) NOVIEMBRE 2017
                    li
                            a(href="#", target="_blank" ) OCTUBRE 2017
                    li
                            a(href="#", target="_blank" ) SEPTIEMBRE 2017       
                    li
                            a(href="#", target="_blank" ) AGOSTO 2017
                    li
                            a(href="#", target="_blank" ) JULIO 2017
                    li
                            a(href="#", target="_blank" ) JUNIO 2017
                    li
                            a(href="#", target="_blank" ) MAYO 2017
                    li
                            a(href="#", target="_blank" ) ABRIL 2017
                    li
                            a(href="#", target="_blank" ) MARZO 2017
                    li
                            a(href="#", target="_blank" ) FEBRERO 2017
                    li
                            a(href="#", target="_blank" ) ENERO 2017
