extends layout

block body
    body.index
    
block header
    include partials/header
            
block content
            
    //ficha
    .section-row.row-ficha-indice    
        
        .container
                      
                //img
                      
                p índice del Transporte
                
                h2 Índices del Transporte 2018
                
                ul.i-2018
                              
                    
                    li
                            a(href="#", target="_blank" ) SEPTIEMBRE 2018       
                    li
                            a(href="#", target="_blank" ) AGOSTO 2018
                    li
                            a(href="#", target="_blank" ) JULIO 2018
                    li
                            a(href="#", target="_blank" ) JUNIO 2018
                    li
                            a(href="#", target="_blank" ) MAYO 2018
                    li
                            a(href="#", target="_blank" ) ABRIL 2018
                    li
                            a(href="#", target="_blank" ) MARZO 2018
                    li
                            a(href="#", target="_blank" ) FEBRERO 2018
                    li
                            a(href="#", target="_blank" ) ENERO 2018
