extends layout

block body
    body.index
    
block header
    include partials/header
            
block content
            
    //ficha
    .section-row.row-legislacion  
        
        .container
                      
                //img
                      
                h2 Legislación y Matriz Legal
                
                h3 Legislación
                
                p En esta sección encontrara toda la legislación correspondiente al Transporte de Mercancías peligrosas por carretera
                p Podrá también visitar la Matriz Legal que contiene una recopilación de toda la legislación Nacional,Provincial y Municipal sobre este tipo de transporte en particular y sobre el transporte de cargas generales.
                p La Matriz Legal se encuentra en permanente actualización.
                
                a.btn(href="#", target="_blank") Ver Matriz Legal
                
                h4 REGLAMENTO GENERAL
                p Descarga el Reglamento General para el Transporte de Mercancías Peligrosas por carretera
                
                a.btn(href="#", target="_blank") Descargar
                
                h4 ASISTENCIA JURÍDICA EN BRASIL
                p A partir de septiembre de 2010 la cámara pone a disposición de sus asociados transportistas el servicio de asistencia jurídica personalizada a prestarse dentro del territorio de la República Federativa del Brasil consiste en:
                
                ul.asist
            
                    li
                        p Atención telefónica las 24 horas durante los 365 dias del año por un abogado con fluidez en la lengua española
                    li
                        p Orientación jurídica en las esferas criminal,civil y administrativa.
                    li
                        p Orientación legal para cualquier necesidad(ejemplos: Hurto o robo de carga, pérdida de los documentos personales y de vehículos, problemas con medio ambiente, accidentes personales, asistencia para salir del país, detenciones y/o retenciones de unidades de transporte por autoridades locales,etc)
                    li
                        p Apoyo en cualquier necesidad. Los serán restringidos a la atención , orientación e instrucción, no estando comprendida cualquier forma de anticipo de costos o gastos, sea de cualquier orden, como médicas, hospitalarias, funeral, locación, etc.
                    
                        p Todos estos servicios enumerados son sin cargo para los asociados a CATAMP excepto en las siguientes circunstancias:
                    
                        p En el supuesto caso de ser solicitado expresamente la presencia de un profesional en el lugar de los hechos, estos serán soportados por el asociado contratante, siendo los honorarios de $500 (pesos argentinos), mas gastos de movilidad hasta el lugar, y de solicitarse la representación del asociado en tramitaciones y/o litigios futuros los honorarios los acordaran ambas partes.
                    
                        p La solicitud de orientación o la necesidad de intervención del ESTUDIO BARBIERI, PNHEIRO NETO y Asociados podrá ser requerida por cualquier asociado de CATAMP, siempre por los Números de teléfono: (00 55) 47 3322-9980, (00 55) 47 9102-8451 y (00 55) 47 8412-8451, aparatos de Nextel con los números: 55*936*20079, 55*936*26764 y/o a las direcciones electrónicas: flavio.pinheiro@barbieriadvogados.com.br ; fabrizio.barbieri@barbieriadvogados.com.br
                    
                
                
