extends layout

block body
    body.nosotros
    
block header
    include partials/header
            
block content
            
    //NOSOTROS
    .section-row.row-nosotros
        
        .container
            
            .row
                
                .col-xs-12
                    
                
