extends layout

block body
    body.index
    
block header
    include partials/header
            
block content
    
    //News
    .section-row.row-news#noticias
        .container
            .row

                .col-xs-12
                    h2 Noticias

                .col-xs-12.col-sm-12.col-md-4

                    a.article(href="nota.html")

                        figure

                            img(src="images/dummie/noticias/news1.png" alt="noticia1")
                        
                        .cont
                            
                            span Solidaridad

                            h3 16° edición del festival Trichaco
                            p gracias al aporte de muchas empresas de transporte llegaron donaciones de comida leche y articulos necesarios para esta comunidad.     

                .col-xs-12.col-sm-12.col-md-4

                    a.article(href="nota.html")

                        figure

                            img(src="images/dummie/noticias/news2.png" alt="noticia2")
                        
                        .cont
                            
                            span Actualidad

                            h3 Reunión de especialistas transporte MMPP
                            p Se definieron los temas que presentará nuestro País en la proxima Asamblea del SGT N° 5 Transporte del MERCOSUR.

                .col-xs-12.col-sm-12.col-md-4

                    a.article(href="nota.html")

                        figure

                            img(src="images/dummie/noticias/news3.png" alt="noticia3")
                        
                        .cont
                            
                            span Formación

                            h3 Entrega de certificados Diplomado en MMPP
                            p el IRAM Entregó los certificados a los alumnos que aprobaron el curso del diplomado en el transporte de MMPP
                
                .col-xs-12.col-sm-12.col-md-4

                    a.article(href="nota.html")

                        figure

                            img(src="images/dummie/noticias/news3.png" alt="noticia3")
                        
                        .cont
                            
                            span Formación

                            h3 Entrega de certificados Diplomado en MMPP
                            p el IRAM Entregó los certificados a los alumnos que aprobaron el curso del diplomado en el transporte de MMPP
                
                .col-xs-12.col-sm-12.col-md-4

                    a.article(href="nota.html")

                        figure

                            img(src="images/dummie/noticias/news3.png" alt="noticia3")
                        
                        .cont
                            
                            span Formación

                            h3 Entrega de certificados Diplomado en MMPP
                            p el IRAM Entregó los certificados a los alumnos que aprobaron el curso del diplomado en el transporte de MMPP
                            
                .col-xs-12.col-sm-12.col-md-4

                    a.article(href="nota.html")

                        figure

                            img(src="images/dummie/noticias/news3.png" alt="noticia3")
                        
                        .cont
                            
                            span Formación

                            h3 Entrega de certificados Diplomado en MMPP
                            p el IRAM Entregó los certificados a los alumnos que aprobaron el curso del diplomado en el transporte de MMPP
                            
                .col-xs-12.col-sm-12.col-md-4

                    a.article(href="nota.html")

                        figure

                            img(src="images/dummie/noticias/news3.png" alt="noticia3")
                        
                        .cont
                            
                            span Formación

                            h3 Entrega de certificados Diplomado en MMPP
                            p el IRAM Entregó los certificados a los alumnos que aprobaron el curso del diplomado en el transporte de MMPP
                            
                .col-xs-12.col-sm-12.col-md-4

                    a.article(href="nota.html")

                        figure

                            img(src="images/dummie/noticias/news3.png" alt="noticia3")
                        
                        .cont
                            
                            span Formación

                            h3 Entrega de certificados Diplomado en MMPP
                            p el IRAM Entregó los certificados a los alumnos que aprobaron el curso del diplomado en el transporte de MMPP
               
                                        
    //Contacto
    .section-row.row-contacto#contacto(data-midnight="white")
        .container
        
            .row
                
                .col-xs-12.col-sm-6.col-md-4
                    
                    h2 Contacto
                    
                    ul.contacto
                        
                        li Moreno 1850 - 4° Piso
                        li (C1094AAB) C.A.B.A - Argentina
                        li (+54-11) 53688480 Lineas rotativas
                        li.big Pers. Juridica Res. IGJ: 000768
                        li.mail
                            img(src="images/home/im_contacto_mail.png" alt="iram")
                            a(href="mailto:catamp@catamp.org.ar") catamp@catamp.org.ar                               
                    
                .col-xs-12.col-sm-6.col-md-3
                    
                    img.iram(src="images/home/im_contacto_iram.png" alt="iram")
                    
                .col-xs-12.col-sm-6.col-md-2
                    
                    ul.about-as
                        li
                            a(href="#about") ¿QUE ES CATAMP?
                        li
                            a(href="#servicios") SERVICIOS
                        li
                            a(href="#asociate") ASOCIATE
                        li
                            a(href="#noticias") NOTICIAS
                        li
                            a(href="#comision") COMISIÓN DIRECTIVA
                        li
                            a(href="#asociados") ASOCIADOS
                        li
                            a(href="#contacto") CONTACTO
                                        
                .col-xs-12.col-sm-6.col-md-3
                    
                    img.registro(src="images/home/im_contacto_rnbd.png" alt="registro")
                        
                    img.faadeac(src="images/home/im_contacto_faadeac.png" alt="faadeac")
                        
                    img.fpt(src="images/home/im_contacto_fpt.png" alt="fpt")
        
                                
                        
                                                                                               
