extends layout

block body
    body.index
    
block header
    include partials/header
            
block content
            
    //ficha
    .section-row.row-inner.row-ruta(data-midnight="white")
        .container                  
            img(src="images/inner/im_ruta.png")
                      
            h2 Registro Único de Transporte Automotor
                
    .section-row.row-inner.row.inner-ruta
        
        .container
                
                h3 ¿Qué es el RUTA?
                
                p Es el Registro Único de Transporte Automotor. Es obligatorio y con validez oficial por un año y renovable luego de transcurridos 12 meses. El régimen correspondiente al REGISTRO ÚNICO DEL TRANSPORTE AUTOMOTOR (RUTA), se encuentra legislado en los contenidos de:
                
                .laws
                    label Ley 24.653 (05-06-1996)
                        p Ley nacional de transporte de cargas.
                 
                    label Decreto Reglamentario 1.035 (19-06-2002)
                        p Decreto Reglamentario sobre Transporte de Cargas de la Secretaría de Transporte, Ministerio de la producción.
                
                    label Resolución 74 Transporte Nacional e Internacional de Cargas (26-07-02)
                        p Emanada de la Secretaría de Transporte.
                .box            
                    h4 DOCUMENTACIÓN PARA TRÁMITE DEL RUTA
                        .link
                            span Ver Página de
                            a(href="#", target="_blank" ) FADEEAC
                            span (http"//www.fadeeac.org.ar/ruta/requisitos/)
            
                h4 CENTROS DE RECEPCIÓN E INSCRIPCIÓN (CRI) CATAMP
                br
                br
                
                .locales
                
                    span &middot SÁNCHEZ DE BUSTAMANTE
                    p (011) 4860-7774/86 o 486-7788
                    p Sánchez de Bustamante 54 - C.A.B.A
                    p Horario de Atención al Público: Lunes a viernes: 09:00 a 17:00 hs
                    
                    br
                    br
                
                    span &middot MORÓN
                    p (011) 5294-9497 o 4628-8820
                    p Av 9 de Julio 854 - Morón
                    p Horario de Atención al Público: Lunes a viernes: 08:00 a 16:00 hs
                    
                    br
                    br
                
                    span &middot MCBA (Mercado Central)
                    p (011) 4622-1300
                    p Aut. Ricchieri y Boulogne Sur Mer (PB-Of:14)
                    p Horario de Atención al Público: Lunes a viernes: 08:00 a 16:00 hs
                    
                    br
                    br
                
                    span &middot SAN MARTÍN
                    p (011) 4724-3423 o 4753-7651
                    p Av. 101 R. Balbín N° 2560 - San Martín
                    p Horario de Atención al Público: Lunes a viernes: 08:00 a 16:00 hs
                    
                    br
                    br
                
                    span.wsp WHATSAPP CONSULTAS
                    p (+54 9 11) 6353 1727        
