extends layout

block body
    body.index
    
block header
    include partials/header
            
block content
            
    //ficha
    .section-row.row-inner.row-what_is(data-midnight="white")
        
        .container
                                  
    .section-row.row-inner.row.inner-what_is
        
        .container      
                      
            h3 ¿ Qué es CATAMP?
                
            p CATAMP es la Cámara Argentina del Transporte Automotor de Mercancias y Residuos Peligrosos y constituye la única asociación gremial empresaria voluntaria en el rubro que representa.
                
            p Fundada en 1989, su estructura societaria se integra con empresas de transporte de reconocida trayectoria en el mercado.Los asociados pueden serlo en dos categorías: activos y adherentes.Los primeros, a través del voto directo en la asamblea, pueden acceder a la Comisión Directiva, órgano ejecutivo máximo de CATAMP una vez cumplidos los plazos fijados estatutariamente.
                
            p CATAMP proyecta su accionar a través de la Federación Argentina de Entidades Empresarias del Autotransporte de Cargas (FADEEAC) integrando su Comisión Directiva y participando activamente en las distintas comisiones de trabajo (piratería de asfalto, infraestructura, seguros, legislación, laborales, etc). Esta vinculación posiciona estratégicamente a CATAMP a la hora de abordar la problemática del sector a nivel nacional.
                
            h4 ¿CUALES SON LOS PROPOSITOS DE CATAMP?
                
            p Jerarquizar y profesionalizar la actividad del autotransporte de mercancías y residuos peligrosos
                
            p Otorgar a sus asociados el apoyo técnico-administrativo y legal que tienda al mejor desenvolvimiento y economía de sus empresas
                
            p Defender los derechos e intereses legítimos del sector, peticionando ante los poderes públicos, mixtos o privados, toda medida conducente a tal efecto
                
            p Prestar colaboración a los organismos y autoridades competentes , para el estudio , consideración, aplicación y divulgación de toda la normativa referida al transporte de mercancías y residuos peligrosos.
                
            h4 ¿QUE HACE CATAMP?
                
            p Esta cámara desarrolla múltiples actividades, muchas de ellas de orden interno y que quizás no trascienden suficientemente, como ser el estudio y seguimiento permanente de la problemática económica nacional y sectorial, dando base de esta forma al accionar público de la Cámara.
                
            p Ejerce una activa participación colaborando en varias comisiones de trabajo con diversos organismos del estado nacional y/o provinciales para la elaboración y/o modifiación de distintas normas relacionadas al sector.
                
            p Integra la Comisión de Entidades Asesoras de la Subsecretaría de Transportes de la Nación.
                
            p Los asociados intercambian opinionens e información sobre su actividad especifica y sobre los problemas que deben afrontar sus empresas a través de reuniones de trabajo en las distintas comisiones conformadas por modos de transporte. En ellas se debaten alternativas y propuestas para superar tanto las coyunturas como la problemática de fonde de las mismas, dado que en general las diferentes situaciones son comunes a todos.
                
            p De las acciones de la entidad se logran objetivos que benefician a las empresas y muchas veces se disminuyen los perjuicios económicos o legales a los que se ven sometidas. Los beneficios son para todo el sector y no sólo para sus asociados.
                
            p Despliega una intensa labor en el área de capacitación en todos los niveles del personal de sus asociados. A través de la FPT (Fundación para la Formación de Profesionales en el Transporte) dicta cursos específicos y obligatorios para la obteción de las Licencias Nacionales Habilitantes de Cargas Generales.
                
            p Centros de Recepción e información del R.U.T.A Inscripción y dictado de cursos para la obtención de la Licencia Nacional Habilitante de Cargas - en nuestra sede central y delegaciones.
                
            p Entidad de referencia y consulta en todo lo inherente al transporte automotor de Mercancías y Residuos Peligrosos.
            
            br
            br
                    
            h4 LIBRO "LOS 20 AÑOS DE CATAMP" Y EL TRANSPORTE DE MERCANCÍAS PELIGROSAS EN Argentina
            
            br
                
            p En el año 2009 CATAMP celebro sus 20 años de existencia. Para esa oportunidad CATAMP publico un libro con la historia del Transporte de Mercancías Peligrosas en la Argentina y los logros conseguidos por la entidad.
            
                
            a.btn(href="#", target="_blank") Ver Libro
                          
                    
