nav
    
    h1
        a(href="../catamp/index.html")
    
    a.btn-menu.open-menu(href="javascript:;")
        
    ul.redes
        
        li.facebook
            a(href="#")
                i.fab.fa-facebook-f

        li.instagram
            a(href="#")
                i.fab.fa-instagram

        li.twitter
            a(href="#")
                i.fab.fa-twitter

.menu.clearfix
    
    a.btn-menu.close-menu(href="javascript:;")
        
    ul

        li
            a(href="index.html#about") ¿QUE ES CIPET?
        li
            a(href="index.html#servicios") SERVICIOS
        li
            a(href="index.html#asociate") ADHERITE
        li
            a(href="index.html#noticias") NOTICIAS
        li
            a(href="index.html#descarga") DESCARGA MANUAL
        li
            a(href="index.html#asociados") ADHERENTES
        li
            a(href="index.html#contacto") CONTACTO
