extends layout

block body
    body.index
    
block header
    include partials/header
            
block content
            
    //ficha
    .section-row.row-inner.row-calidad(data-midnight="white")
        
        .container
                      
                img(src="../images/inner/im_politica.png")
                      
                h2 Politica de Calidad
                
    .section-row.inner-common
        .container
            .row
                .col-xs-12
                
                    p La Cámara Argentina del Transportes Automotor de Mercancías y Residuos Peligrosos se establece para atender a las necesidades del sector.
                
                    p
                        b Para ello define como propósitos:
                    
                    ul
                        li
                            p Jerarquizar y profesionalizar la actividad del autotransporte de mercancías y residuos peligrosos.
                        li
                            p Otorgar a sus asociados el apoyo técnico-administrativo y legal que aporte al mejor desenvolvimiento y economía de sus empresas.
                        li
                            p Defender los derechos e intereses legítimos del sector, peticionando ante los poderes públicos, mixtos o privados, toda medida conducente a tal efecto.
                        li
                            p Prestar colaboración a los organismos y autoridades competentes, para el estudio, consideración, aplicación y divulgación de toda la normativa referida al transporte de mercancías y residuos peligrosos. Interactuando con la Federación Argentina de Entidades Empresarias del  Autotransporte de Cargas en actividades de formación profesional.
                        li
                            p  Interactuando con la Federación Argentina de Entidades Empresarias del  Autotransporte de Cargas en actividades de formación profesional.
                    
                    p Asumiendo el compromiso de desarrollar, implementar, mantener y mejorar todos aquellos aspectos relacionados con los procesos necesarios para cumplimentar con los requisitos de las partes interesadas.
                        
                    figure.firma
        
                        img(src="../images/dummie/about/im-firma.png" alt="firma") 
