extends layout

block body
    body.index
    
block header
    include partials/header
            
block content
            
    //ficha
    .section-row.row-inner.row-rnpq(data-midnight="white")
        
        .container
                      
                img(src="../images/inner/im_rnpq.png")
                      
                h2 Registro Nacional de Precursores Químicos (RENPRE)
                
    .section-row.row-inner.inner-common
        .container
            .row
                .col-xs-12
                
                    
                    p La Dirección del Registro, Analisis Técnico y Control del Uso de Precursores Químicos y sus unidades organizativas: Coordinación del Registro Nacional de Operadores y Coordinación de Evaluación Técnica y Control de Precursores Químicos, funcionan en la órbita de la Subsecretaria de Lucha contra el Narcotráfico del Ministerio de Seguridad de la Nación.
                    
                    p En la Coordinación del Registro Nacional de Operadores , se lleva a cabo el proceso de registro y control de los movimientos de precursores químicos que realicen los operadores, sean personas físicas o jurídicas.
                    
                    .link
                        span ingresando en su sitio web 
                        a(href="#", target="_blank") https://renpre.minseg.gob.ar
                        span , se accede a toda la información del organismo.
                    
                    
                    p CATAMP cuenta con un servicio de asesoramiento y gestión de tramites para los asociados que deban inscribirse ante dicho registro.
                    
                    p Para mayor información comunicarse al (+54 11) 5368-8480 int 202 (lunes a viernes de 09:30 a 17:30)
