extends layout

block body
    body.index
    
block header
    include partials/header
            
block content
            
    //ficha
    .section-row.row-inner.row-common(data-midnight="white")
        .container                  
            img(src="../images/inner/im_ruta.png")
                      
            h2 Registro Único de Transporte Automotor
                
    .section-row.row-inner.inner-common
        .container
            .row
                .col-xs-12
                
                    h3 ¿Qué es el RUTA?
                    
                    p Es el Registro Único de Transporte Automotor. Es obligatorio y con validez oficial por un año y renovable luego de transcurridos 12 meses. El régimen correspondiente al REGISTRO ÚNICO DEL TRANSPORTE AUTOMOTOR (RUTA), se encuentra legislado en los contenidos de:
                    
                    p 
                        b Ley 24.653 (05-06-1996)
                        br
                        | Ley nacional de transporte de cargas.
                 
                    p 
                        b Decreto Reglamentario 1.035 (19-06-2002)
                        br
                        | Decreto Reglamentario sobre Transporte de Cargas de la Secretaría de Transporte, Ministerio de la producción.
                
                    p 
                        b Resolución 74 Transporte Nacional e Internacional de Cargas (26-07-02)
                        br
                        | Emanada de la Secretaría de Transporte.
                    
                    h4 DOCUMENTACIÓN PARA TRÁMITE DEL RUTA
                        p 
                            | Ver página de 
                            a(href="http://www.fadeeac.org.ar/ruta/requisitos/", target="_blank" ) FADEEAC
                                
                    h4 CENTROS DE RECEPCIÓN E INSCRIPCIÓN (CRI) CATAMP
                    
                    h5 &middot SÁNCHEZ DE BUSTAMANTE
                    p
                        | (011) 4860-7774/86 o 486-7788
                        br
                        | Sánchez de Bustamante 54 - C.A.B.A
                        br
                        | Horario de Atención al Público: Lunes a viernes: 09:00 a 17:00 hs
                    
                    h5 &middot MORÓN
                    p
                        | (011) 5294-9497 o 4628-8820
                        br
                        | Av 9 de Julio 854 - Morón
                        br
                        | Horario de Atención al Público: Lunes a viernes: 08:00 a 16:00 hs
                    
                    h5 &middot MCBA (Mercado Central)
                    p 
                        | (011) 4622-1300
                        br
                        | Aut. Ricchieri y Boulogne Sur Mer (PB-Of:14)
                        br
                        | Horario de Atención al Público: Lunes a viernes: 08:00 a 16:00 hs
                    
                    h5 &middot SAN MARTÍN
                    p 
                        | (011) 4724-3423 o 4753-7651
                        br
                        | Av. 101 R. Balbín N° 2560 - San Martín
                        br
                        | Horario de Atención al Público: Lunes a viernes: 08:00 a 16:00 hs
                    
                    .whatsapp
                        
                        a.btn(href="https://api.whatsapp.com/send?phone=5491163531727", target="_blank") 
                            i.fab.fa-whatsapp
                            | +54 9 11 6353 1727 
                        span *de lunes a Viernes de 9:00 a 17:00 hs.     
