//Contacto
.section-row.row-contacto#contacto(data-midnight="white")
    .container
    
        .row
                
            .col-xs-12.col-sm-6.col-md-4
                
                h2 Contacto
                
                ul.contacto
                    
                    li Moreno 1850 - 4° Piso
                    li (C1094AAB) C.A.B.A - Argentina
                    li (+54-11) 53688480 Lineas rotativas
                    li.big Pers. Juridica Res. IGJ: 000768
                    li.mail
                        img(src="../images/home/im_contacto_mail.png" alt="iram")
                        a(href="mailto:lnhcursos@catamp.org.ar") lnhcursos@catamp.org.ar
                    li
                        a.btn.btn-green(href="#") 
                            i.fab.fa-whatsapp 11 6353 1727    
                                                      
                    li *de lunes a Viernes de 9:00 a 17:00 hs.
                    
            .col-xs-12.col-sm-6.col-md-3
                
                a.iram(href="calidad.html")
                    span Ver políticas de calidad
                    img.iram(src="../images/home/im_contacto_iram.png" alt="iram")
                
            .col-xs-hidden.col-sm-hidden.col-md-2
                
                ul.about-as
                    li
                        a(href="index.html#about") ¿QUE ES LNH?
                    li
                        a(href="index.html#servicios") CARGAS GENERALES
                    li
                        a(href="index.html#mercancias") MERCANCÍAS PELIGROSAS
                    li
                        a(href="index.html#asociate") MPRIMIR LICENCIA
                    li
                        a(href="index.html#noticias") CARTELERA
                    li
                        a(href="index.html#comision") UNIDADES ACADÉMICAS
                    li
                        a(href="index.html#contacto") CONTACTO
                                    
            .col-xs-12.col-sm-12.col-md-3
                
                img.registro(src="../images/home/im_contacto_rnbd.png" alt="registro")
                    
                img.faadeac(src="../images/home/im_contacto_faadeac.png" alt="faadeac")
                    
                img.fpt(src="../images/home/im_contacto_fpt.png" alt="fpt")
