nav
    
    h1
        a(href="index.html")
    
    a.btn-menu.open-menu(href="javascript:;")
        
    ul.redes
        
        li.facebook
            a(href="https://www.facebook.com/Lnhcursos/", target="_blank")
                i.fab.fa-facebook-f

        li.instagram
            a(href="https://www.instagram.com/catamp_oficial/", target="_blank")
                i.fab.fa-instagram

        li.twitter
            a(href="https://twitter.com/CATAMP_oficial", target="_blank")
                i.fab.fa-twitter

.menu.clearfix
    
    a.btn-menu.close-menu(href="javascript:;")
        
    ul

        li
            a(href="index.html#about") ¿QUE ES LNH?
        li
            a(href="index.html#servicios") CARGAS GENERALES
        li
            a(href="index.html#mercancias") MERCANCÍAS PELIGROSAS
        li
            a(href="imprimir.html") IMPRIMIR LICENCIA
        li
            a(href="index.html#noticias") CARTELERA
        li
            a(href="index.html#comision") UNIDADES ACADÉMICAS
        li
            a(href="index.html#contacto") CONTACTO
