footer
    
    .container-fluid
        
        a.logo(href="#")
            img(src="images/home/im_footer_logo.png")
                
        p.copyright 2018 CATAMP. Todos los derechos reservados        
                
        ul.redes
                    
            li.facebook
                i.fab.fa-facebook-f
                      
            li.instagram
                i.fab.fa-instagram
                      
            li.twitter
                i.fab.fa-twitter        
    

script(src='js/vendor.js')
script(src='js/' + js_app)
