nav.container-fluid
    
    h1
        a(href="#")
    
    a.btn-menu(href="#")
        
    ul.redes
        
        li.facebook
            a(href="#")
                i.fab.fa-facebook-f

        li.instagram
            a(href="#")
                i.fab.fa-instagram

        li.twitter
            a(href="#")
                i.fab.fa-twitter
        
    ul.menu

        li
            a(href="#") ¿QUE ES CATAMP?
        li
            a(href="#") SERVICIOS
        li
            a(href="#") ASOCIARCE
        li
            a(href="#") NOTICIAS
        li
            a(href="#") COMISIÓN DIRECTIVA
        li
            a(href="#") ASOCIADOS
        li
            a(href="#") CONTACTO
