nav.container-fluid
    .row    
        .col-sm-12
            h1
                a
                    img(src="images/home/im_header_logo.png")

            ul.redes
                
                li.facebook
                    i.fab.fa-facebook

                li.instagram
                    i.fab.fa-instagram

                li.twitter
                    i.fab.fa-twitter
                        
            a.btn-menu
                
            ul.menu
                
                li
                    a(href="#") 
                li
                    a(href="#") ¿QUE ES CATAMP?
                li
                    a(href="#") SERVICIOS
                li
                    a(href="#") ASOCIARCE
                li
                    a(href="#") NOTICIAS
                li
                    a(href="#") COMISIÓN DIRECTIVA
                li
                    a(href="#") ASOCIADOS
                li
                    a(href="#") CONTACTO
