nav
    .container
      
      h1
          a
              img(src="images/logo.png")
            

      ul.redes
        li.facebook
          i.fab.fa-facebook
            
        li.instagram
          i.fab.fa-instagram
            
        li.twitter
          i.fab.fa-twitter  
