extends layout

block body
    body.index
    
block header
    include partials/header
            
block content
            
    //ficha
    .section-row.row-inner.row-ruta(data-midnight="white")
        .container                  
            img(src="../images/inner/im_boletin.png")
                      
            h2 Boletines Técnicos
                
    .section-row.row-inner.inner-ruta
        .container
            .row
                .col-xs-12
                
                    h3 Boletín Técnico
                    
                    p CIPET emite periodicamente boletines que presentan información técnica resumida sobre Respuesta a la Emergencia con diferentes mercancías y residuos peligrosos. Esta información sirve para complementar la capacitación que reciben los diferentes cuerpos de bomberos del país así como para aquel personal de empresas transportistas y de dadores de c arga interesados en el tema.

                
                    form.search
                        input.form-control(type='search', name='q', placeholder="Buscar tema de boletín Técnico..." required ) 
                        
                        span.i.fas.fa-search
                            
                    h4 &middot BOLETIN TECNICO Nº01- TRANSPORTE DE PLAGUICIDAS
                    
                        p Publicado: Julio 2009
                        
                        p Plaguicidas o pesticidas son productos utilizados en la prevención , control o para disminuir los daños ocasionados por las plagas en los cultivos y en los animales de cría. Las pérdidas ocasionadas por estas plagas son muy importantes en el país. También se usan para combatir insectos domésticos. Los plaguicidas químicos junto con los fertilizantes forman lo que se llaman Productos Agroquímicos. En las áreas agrícolas y ganaderas hay muchas operaciones de transporte y distribución de estos productos peligrosos. 
                        
                        p Se presenta la clasificación de plaguicidas desde el punto de vista químico y se indican los rangos de números de Naciones Unidas que corresponden a estos productos.
                            
                    h4 &middot BOLETIN TECNICO Nº02 - FICHAS DE INTERVENCIÓN DE MERCANCIAS Y RESIDUOS PELIGROSOS
                    
                        p Publicado: Agosto 2009
                        
                        p Este importante documento del transporte de cargas peligrosas lo menciona el Reglamento General para el Transporte de Mercancías Peligrosas por Carretera (anexo “S” del Decreto 779/95 que reglamentó la Ley Nacional Nº 24.449 de Tránsito y Seguridad Vial) cuando dice que: “los vehículos automotores transportando mercancías peligrosas solo podrán circular portando (entre otros documentos que describe allí): b) instrucciones escritas (Fichas de Intervención en caso de Emergencia) (así lo llama a este documento) en previsión de cualquier accidente que suceda. Se indica lo que debe incluir la Ficha de Intervención según el Art. 35 del mencionado anexo.    
                    
                    h4 BOLETIN TECNICO Nº 03 – TRANSPORTE DE FERTILIZANTES A BASE DE NITRATO DE AMONIO
                    
                        p Publicado:
                        
                        p Este producto químico está siendo ampliamente utilizado en Argentina y en el mundo en dos usos como fertilizante (o abono sinónimo usado en España) y como explosivo en la industria minera, en la construcción y en usos militares.
                        
                        p Se indican los números de Naciones Unidas de las diferentes formulaciones usadas con diferentes porcentajes de este producto químico.
                        
                    h4 BOLETIN TECNICO Nº 04 - TRANSPORTE DE PRODUCTOS DOMESTICOS PELIGROSOS
                    
                        p Publicado:
                        
                        p Los productos domésticos son aquellos que usamos en nuestra casa, la oficina o el lugar de trabajo para la limpieza personal, de la ropa, de utensilios y artefactos domésticos, corrección, desinfección, absorción, disolución, etc. Algunos de estos productos domésticos son mercancías peligrosas dentro de los que podemos mencionar: perfumes, agua lavandina, insecticidas, combustibles ( como el kerosene y gas de garrafas), solventes: alcohol, acetona y aguarrás, correctores, etc.
                        
                        p Se indican los números de Naciones Unidas de las diferentes productos domésticos peligrosos transportados por carretera y los diferentes envases en los que se fraccionan.  
