extends layout

block body
    body.cipet.inner
    
block header
    include partials/header
            
block content
            
    //ficha
    .section-row.row-inner.row-calidad(data-midnight="white")
        
        .container
                      
                img(src="../images/inner/im_politica.png")
                      
                h2 Politica de Calidad
                
    .section-row.row-inner.inner-common
        .container
            .row
                .col-xs-12
                    
                    p El CIPET es un ente, que formando parte de CATAMP brinda un servicio ante las emergencias en el Transporte Carretero, con la finalidad de minimizar los riesgos emergentes y aumentar la eficiencia en la atención de las emergencias, asumiendo el compromiso de velar por la seguridad de la comunidad, aportando al cuidado responsable del ambiente y contribuyendo a salvaguardar el patrimonio de las empresas.
                
                    p
                        b A través de esta política el CIPET, asume el compromiso de:
                    
                ul
                    li
                        p Implementar y mantener un sistema de gestión de calidad, basándose en los requerimientos de las normas ISO – IRAM  9001:2015.
                    li    
                        p Satisfacer las necesidades y expectativas de los asociados, adherentes y partes interesadas, para prevenir y/o minimizar las consecuencias no deseadas de los incidentes y accidentes en el transporte carretero.
                    li    
                        p Cumplir con los requisitos aplicables a la gestión del CIPET.
                    li    
                        p Capacitar y asesorar a las Fuerzas de Seguridad y a los distintos organismos de respuesta de emergencias en el transporte con mercancías y residuos peligrosos.
                    li    
                        p Mejorar continuamente los procesos del Sistema de Gestión de Calidad.
                            
                    figure.firma
        
                        img(src="../images/dummie/about/im-firma.png" alt="firma")        
