extends layout

block body
    body.cipet.inner
    
block header
    include partials/header
            
block content
            
    //ficha
    .section-row.row-inner.row-common(data-midnight="white")
        .container                  
            img(src="../images/inner/im_estadistica.png")
                      
            h2 Estadísticas
                
    .section-row.row-inner.inner-estadistica
        .container-fluid
            .row
                .col-xs-12
                    
                    h3 Estadísticas
                    
                    p Nuestras actividades nos dan la posibilidad de elaborar informes y estadísticas sobre accidentes, rutas y localidades en donde se produzcan, tipos de siniestros, índices de derrames, frecuencias y gravedad de los mismos. Ponemos a dispocisión de la comunidad algunos de estos informes.

                    h5 llamados recibidos
                    
                    h6 Por mes / por año
                    
                    figure
                        img(src="../images/inner/graficos/llamados.jpg" alt="llamados")
                    a.img-link(href="../images/inner/graficos/llamados.jpg", target="_blank") Abrir imagen en otra pestaña.
                    
                    h5 accidentes
                    
                    h6 heridos y victimas / por año
                    
                    figure
                        img(src="../images/inner/graficos/accidentes.jpg" alt="accidentes")
                    a.img-link(href="../images/inner/graficos/accidentes.jpg", target="_blank") Abrir imagen en otra pestaña.
                    
                    h6 fuga de producto / por año
                            
                    figure
                        img(src="../images/inner/graficos/fugas.jpg" alt="fugas")
                    a.img-link(href="../images/inner/graficos/fugas.jpg", target="_blank") Abrir imagen en otra pestaña.
                            
                    h6 por mes / por año  
                    
                    figure
                        img(src="../images/inner/graficos/accidente_mes.jpg" alt="mes/año")
                    a.img-link(href="../images/inner/graficos/accidente_mes.jpg", target="_blank") Abrir imagen en otra pestaña.
                            
                    h6 por dia / por año  
                            
                    figure
                        img(src="../images/inner/graficos/accidente_dia.jpg" alt="dia/año")
                    a.img-link(href="../images/inner/graficos/accidente_dia.jpg", target="_blank") Abrir imagen en otra pestaña.
                                    
                    h6 por hora / por año  
                                    
                    figure
                        img(src="../images/inner/graficos/accidente_hora.jpg" alt="hora/año") 
                    a.img-link(href="../images/inner/graficos/accidente_hora.jpg", target="_blank") Abrir imagen en otra pestaña.
                        
                    h5 PROVINCIAS DONDE OCURRIERON LOS ACCIDENTES
                    
                    h6 Por provincia / por año
                    
                    figure
                        img(src="../images/inner/graficos/accidente_provincia.jpg" alt="provincia")
                    a.img-link(href="../images/inner/graficos/accidente_provincia.jpg", target="_blank") Abrir imagen en otra pestaña.
                            
                    h5 vías por las que circularon
                    
                    h6 Por tipo de vía / por año
                    
                    figure
                        img(src="../images/inner/graficos/vias.jpg" alt="vias")
                    a.img-link(href="../images/inner/graficos/vias.jpg", target="_blank") Abrir imagen en otra pestaña.
                            
                    h5 clase de riesgo de la mercancía
                    
                    h6 Por CLaSE / por año
                    
                    figure
                        img(src="../images/inner/graficos/clases.jpg" alt="clases")
                    a.img-link(href="../images/inner/graficos/clases.jpg", target="_blank") Abrir imagen en otra pestaña.
                            
                    p
                        a.btn(href="../pdfs/ESTADISTICAS_CIPET_2015-2017.pdf", target="_blank") Descargar Estadisticas CIPET 2015/2017                 
                                                                      
                
                            
                    
                          
