extends layout

block body
    body.cipet.inner
    
block header
    include partials/header
            
block content
            
    //ficha
    .section-row.row-inner.row-join_us(data-midnight="white")
        .container                  
            h2 Adherirse al CIPET
                
    .section-row.row-inner.inner-join_us
        .container
            .row
                .col-xs-12
                
                    h3 ¿Porqué adherirse?
                    
                    p CIPET es la unica entidad que ayuda a las Empresas Transportistas y Dadoras de la Carga a cumplir con el Articulo 35 parrafo b), apartado VI. El mismo indica que las fichas de intervención, obligatorias en el transporte de Mercancías Peligrosas, deben poseer los teléfonos de emergencia de los cuerpos de bomberos, órganos policiales...que esté disponible las 24 horas del día los 365 días del año, que resulte operativo a lo largo y ancho del territorio nacional…”

                    p Complete el formulario para solicitar una cotización del servicio y coordinar una charla informativa sobre nuestro Centro de información.

                    .form-group
                        form(method='post' action='')
                            
                            div.form-item
                                h6 Socio CATAMP
                                .form-radio
                                    input#radio-si(type='radio', name='socio', value="Si")
                                    label(for="radio-si") Si
                                    input#radio-no(type='radio', name='socio', value="No")
                                    label(for="radio-no") No
                                    
                            div.form-item
                                label Empresa
                                input(type='text', name='name', required )
                            div.form-item
                                label Rubro
                                input(type='text', name='company', required )
                            div.form-item
                                label Nombre y apellido del responsable
                                input(type='text', name='company', required )
                            div.form-item.size-50
                                label Teléfono de Contacto
                                input(type='number', name='phone' required )
                            div.form-item.size-50
                                label Mail
                                input(type='text', name='time' required ) 
                            div.form-item
                                label Detalle flota
                                textarea(name='message')
                                    
                            button.btn(type='submit') Enviar
