extends layout

block body
    body.cipet.inner
    
block header
    include partials/header
            
block content
    
    //News
    .section-row.row-news#noticias
        .container
            .row

                .col-xs-12
                    h2 Noticias

                .col-xs-12.col-sm-12.col-md-4

                    a.article(href="nota.html")

                        figure

                            img(src="../images/dummie/noticias/news1.png" alt="noticia1")
                        
                        .cont
                            
                            span Solidaridad

                            h3 16° edición del festival Trichaco
                            p gracias al aporte de muchas empresas de transporte llegaron donaciones de comida leche y articulos necesarios para esta comunidad.     

                .col-xs-12.col-sm-12.col-md-4

                    a.article(href="nota.html")

                        figure

                            img(src="../images/dummie/noticias/news2.png" alt="noticia2")
                        
                        .cont
                            
                            span Actualidad

                            h3 Reunión de especialistas transporte MMPP
                            p Se definieron los temas que presentará nuestro País en la proxima Asamblea del SGT N° 5 Transporte del MERCOSUR.

                .col-xs-12.col-sm-12.col-md-4

                    a.article(href="nota.html")

                        figure

                            img(src="../images/dummie/noticias/news3.png" alt="noticia3")
                        
                        .cont
                            
                            span Formación

                            h3 Entrega de certificados Diplomado en MMPP
                            p el IRAM Entregó los certificados a los alumnos que aprobaron el curso del diplomado en el transporte de MMPP
                
                .col-xs-12.col-sm-12.col-md-4

                    a.article(href="nota.html")

                        figure

                            img(src="../images/dummie/noticias/news3.png" alt="noticia3")
                        
                        .cont
                            
                            span Formación

                            h3 Entrega de certificados Diplomado en MMPP
                            p el IRAM Entregó los certificados a los alumnos que aprobaron el curso del diplomado en el transporte de MMPP
                
                .col-xs-12.col-sm-12.col-md-4

                    a.article(href="nota.html")

                        figure

                            img(src="../images/dummie/noticias/news3.png" alt="noticia3")
                        
                        .cont
                            
                            span Formación

                            h3 Entrega de certificados Diplomado en MMPP
                            p el IRAM Entregó los certificados a los alumnos que aprobaron el curso del diplomado en el transporte de MMPP
                            
                .col-xs-12.col-sm-12.col-md-4

                    a.article(href="nota.html")

                        figure

                            img(src="../images/dummie/noticias/news3.png" alt="noticia3")
                        
                        .cont
                            
                            span Formación

                            h3 Entrega de certificados Diplomado en MMPP
                            p el IRAM Entregó los certificados a los alumnos que aprobaron el curso del diplomado en el transporte de MMPP
                            
                .col-xs-12.col-sm-12.col-md-4

                    a.article(href="nota.html")

                        figure

                            img(src="../images/dummie/noticias/news3.png" alt="noticia3")
                        
                        .cont
                            
                            span Formación

                            h3 Entrega de certificados Diplomado en MMPP
                            p el IRAM Entregó los certificados a los alumnos que aprobaron el curso del diplomado en el transporte de MMPP
                            
                .col-xs-12.col-sm-12.col-md-4

                    a.article(href="nota.html")

                        figure

                            img(src="../images/dummie/noticias/news3.png" alt="noticia3")
                        
                        .cont
                            
                            span Formación

                            h3 Entrega de certificados Diplomado en MMPP
                            p el IRAM Entregó los certificados a los alumnos que aprobaron el curso del diplomado en el transporte de MMPP
               
                                        
    include partials/contacto
