.cipet{



}
.lnh{

    .row-services{

        p{
            font-size:15px;
        }
    }

    .row-main{
        padding-top: 30vh;
        p{
            font-size: 28px;
            line-height: 36px;
            margin: 40px 0 60px;
        }
        a.btn{
            font-size: 21px;
            font-weight: 300 !important;
            text-transform: none;
            padding: 8px 34px 7px;

        }
    }

}
