//Contacto
.section-row.row-contacto#contacto(data-midnight="white")
    .container
    
        .row
            
            .col-xs-12.col-sm-6.col-md-4
                
                h2 Contacto
                
                ul.contacto
                    
                    li Moreno 1850 - 4° Piso
                    li (C1094AAB) C.A.B.A - Argentina
                    li (+54-11) 53688480 Lineas rotativas
                    li.big Pers. Juridica Res. IGJ: 000768
                    li.mail
                        img(src="../images/home/im_contacto_mail.png" alt="iram")
                        a(href="mailto:catamp@catamp.org.ar") catamp@catamp.org.ar                               
                
            .col-xs-12.col-sm-6.col-md-3
                
                a.iram(href="calidad.html")
                    span Ver políticas de calidad
                    img.iram(src="../images/home/im_contacto_iram.png" alt="iram")
                
            .col-xs-hidden.col-sm-hidden.col-md-2
                
                ul.about-as
                    li
                        a(href="index.html#about") ¿QUE ES CATAMP?
                    li
                        a(href="index.html#servicios") SERVICIOS
                    li
                        a(href="index.html#asociate") ASOCIATE
                    li
                        a(href="index.html#noticias") NOTICIAS
                    li
                        a(href="index.html#comision") COMISIÓN DIRECTIVA
                    li
                        a(href="index.html#asociados") ASOCIADOS
                    li
                        a(href="index.html#contacto") CONTACTO
                                    
            .col-xs-12.col-sm-12.col-md-3
                
                a(href="https://www.argentina.gob.ar/aaip/datospersonales", target="_blank")
                    img.registro(src="../images/home/im_contacto_rnbd.png" alt="registro")
                
                a(href="http://www.fadeeac.org.ar/", target="_blank")
                    img.faadeac(src="../images/home/im_contacto_faadeac.png" alt="faadeac")
                
                a(href="http://fpt.org.ar/", target="_blank")
                    img.fpt(src="../images/home/im_contacto_fpt.png" alt="fpt")
                    
                    
                    
