nav
    
    h1
        a(href="index.html")
    
    a.btn-menu.open-menu(href="javascript:;")
        
    ul.redes
        
        li.facebook
            a(href="https://www.facebook.com/catampok/", target="_blank")
                i.fab.fa-facebook-f

        li.instagram
            a(href="https://www.instagram.com/catamp_oficial/", target="_blank")
                i.fab.fa-instagram

        li.twitter
            a(href="https://twitter.com/CATAMP_oficial", target="_blank")
                i.fab.fa-twitter

.menu.clearfix
    
    a.btn-menu.close-menu(href="javascript:;")
        
    ul

        li
            a(href="index.html#about") ¿QUE ES CATAMP?
        li
            a(href="index.html#servicios") SERVICIOS
        li
            a(href="index.html#asociate") ASOCIATE
        li
            a(href="index.html#noticias") NOTICIAS
        li
            a(href="index.html#comision") COMISIÓN DIRECTIVA
        li
            a(href="index.html#asociados") ASOCIADOS
        li
            a(href="index.html#contacto") CONTACTO
