// *************************************
//
//   Footer
//
// *************************************

footer {
    position: relative;
    padding:20px 50px;
    text-align: center;
    @media(max-width: 800px){
        padding:20px 20px;
    }
    a.logo{
        display: block;
        position:absolute;
        top:30px;
        left:50px;
        width:145px;
        @media(max-width: 800px){
            left:30px;
        }
        img{
            width:100%;
        }
    }

    p.copyright{
        line-height: 76px;
        margin:0;
        width:100%;
        font-size: 16px;
        @media(max-width: 900px){
            padding-top:70px;
        }
    }

    ul.redes{
        position:absolute;
        top:40px;
        right:50px;
        @media(max-width: 800px){
            right:30px;
        }
        li{
            float:left;
            list-style:none;
            margin:0px 0 0 10px;
            border:1px solid #59595b;
            border-radius: 20px;
            width:34px;
            height:34px;
            text-align: center;
            i{
                font-size:20px;
                color:#59595b;
                line-height: 34px;
            }
            @media(max-width: 600px){
                margin:0px 0 0 6px;
            }
        }
    }

}
