// *************************************
//
//   Navbar
//   -> Bootstrap Navbar Overrides
//
// *************************************

nav{

    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 10;

    h1{
        float:left;
        margin:18px 0 0 30px;
        a{
            display:block;
            width: 145px;
            height: 52px;
            background:url(../images/home/im_header_logo.png) no-repeat;
            background-size: contain;
        }
        @media(max-width: 800px){
            margin:18px 0 0 30px;
        }
    }

    ul.redes{
        float:right;
        display: none;
        li{
            float:left;
            list-style:none;
            margin:31px 0 0 17px;
            i{
                font-size:20px;
                color:#59595b;
            }
        }
        @media(min-width: 600px){
            display:block;
        }
    }

    a.btn-menu{
        float:right;
        width: 22px;
        height: 15px;
        background:url(../images/home/im_header_menu_gray.png) no-repeat;
        background-size: contain;
        margin: 32px 35px 0 30px;
        @media(max-width: 800px){
            margin:32px 30px 0 30px;
        }
    }

    //MIDNIGHT JS
    .midnightHeader.white{
        h1{
            a{
                background-image:url(../images/home/im_header_logo_w.png);
            }
        }
        a.btn-menu{
            background-image:url(../images/home/im_header_menu-active.png);
        }
        ul.redes{
            li{
                i{
                    color:#FFF;
                }
            }
        }
    }
    .midnightHeader.blue{
        h1{
            a{
                //background:url(../images/home/im_header_logo_w.png) no-repeat;
            }
        }
        a.btn-menu{
            background-image:url(../images/home/im_header_menu.png);
        }
        ul.redes{
            li{
                i{
                    color:#003263;
                }
            }
        }
    }

}

.menu{
    display:none;
    position:fixed;
    top:0;
    right:-300px;
    width:320px;
    height:90vh;
    z-index:20;
    padding:32px 35px 56px 30px;
    box-sizing: border-box;
    background:#003263;
    @media(max-width: 600px){
        width:280px;
    }
    opacity:0;
    a.btn-menu{
        float:right;
        display:block;
        width: 22px;
        height: 15px;
        background:url(../images/home/im_header_menu-active.png) no-repeat !important;
        background-size: contain !important;
    }
    ul{
        float: left;
        margin:0;
        padding:12vh 0 0 0;
        li{
            list-style:none;
            margin:0;
            padding:1vh 0;
            a{
                color:#FFF;
                font-family: 'Roboto';
                font-size: 18px;
                line-height: 30px;
                font-weight: 100;
            }
        }
    }
}
